<!DOCTYPE html>
<html>
  <head>
    <%- include('../../common/normal-html-head') %>
    <link href="/public/normal/css/login.css" rel="stylesheet">
    <style>
      img {
        transition: all 0.2s linear;
      }
      #band-btn img:hover{
        transform: scale(1.05);
      }
    </style>
  </head>
  <body class="text-center">
    <main class="form-signin">
      <form>
        <img class="mb-3" src="/public/img/royals_logo.png" alt="" width="280" height="88">
        <div class="form-floating">
          <input type="email" class="form-control" id="floatingInput">
          <label for="floatingInput">학번</label>
        </div>
        <div class="form-floating">
          <input type="password" class="form-control" id="floatingPassword">
          <label for="floatingPassword">이름</label>
        </div>
        <a class="w-100" id="band-btn" href="#" style="padding-left: 0px; padding-right: 0px; border: 0;"><img src="/public/img/bbbb.png" style="width: 300px; border-radius: .375rem;"></a>
        <p class="mt-3 mb-3 text-muted">&copy; 2023 Royals STAFF TEAM</p>
      </form>
    </main>
    
    <%- include('../../common/normal-js') %>
  </body>
</html>