<header id="header" class="fixed-top d-flex align-items-center">
  <div class="container d-flex align-items-center">
    <a href="/" class="logo me-auto"><img src="/public/img/royals_logo.png" alt="ROYALS" class="img-fluid"></a>
  </div>
</header>