<!DOCTYPE html>
<html>
  <head>
    <%- include('../../common/normal-html-head') %>
  </head>
  <body>
    <%- include('../../components/inner-page-header') %>
    
    <main id="main">
      <%- include('../../components/breadcrumbs', { pageTitle: "부원 관리", parents: [{ title: 'Home', url: '/' }] }) %>
      <section id="services" class="services" data-aos="fade-up">
        <div class="container">
          <header class="section-header">
            <h3>People Management</h3>
            <p>부원 관리 기능 목록입니다</p>
          </header>
          <div class="row g-5 justify-content-center">
            <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="100">
              <div class="box">
                <div class="icon" style="background: #e1eeff;"><i class="bi bi-card-checklist" style="color: #2282ff;"></i></div>
                <h4 class="title"><a href="/people/list">부원 명단 확인</a></h4>
                <p class="description text-center">부원 명단을 확인하는 페이지로 이동합니다</p>
              </div>
            </div>
            <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="100">
              <div class="box">
                <div class="icon" style="background: #ecebff;"><i class="bi bi-terminal-plus" style="color: #8660fe;"></i></div>
                <h4 class="title"><a href="/people/positions">포지션 관리</a></h4>
                <p class="description text-center">포지션을 변경하는 페이지로 이동합니다</p>
              </div> 
            </div>
          </div>
        </div>
        <div class="container text-center mt-5" data-aos="fade-in" data-aos-delay="100">
          <a href="/" class="btn btn-secondary">뒤로 가기</a>
        </div>
      </section>
    </main>
    
    <%- include('../../common/normal-js') %>
  </body>
</html>