<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" name="viewport">
  <meta property="og:image" content="https://royals-staff.team/download/ogtag">
  <meta property="og:type" content="website">
  <meta property="og:title" content="로얄스 스태프">
  <meta property="og:description" content="로얄스 스태프 홈페이지입니다.">
  <meta property="og:image:width" content="800">
  <meta property="og:image:height" content="400">
  
  <title>로얄스 스태프</title>
  
  <!-- Vender fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,400,500,600,700" rel="stylesheet">
  
  <!-- Vendor favicons -->
  <link rel="apple-touch-icon" sizes="57x57" href="/public/img/favicons/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/public/img/favicons/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/public/img/favicons/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/public/img/favicons/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/public/img/favicons/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/public/img/favicons/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/public/img/favicons/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/public/img/favicons/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/public/img/favicons/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/public/img/favicons/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/public/img/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/public/img/favicons/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/public/img/favicons/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  
  <!-- Vendor CSS Files -->
  <link href="/public/normal/vendor/aos/aos.css" rel="stylesheet">
  <link href="/public/normal/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/public/normal/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/public/normal/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/public/normal/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  
  <!-- Template Main CSS File -->
  <link href="/public/normal/css/style.css" rel="stylesheet">
</head>